{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block products %}

<!--<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>-->

<div class="contact">
 <div class="container">
    <div class="row">
       <div class="col-md-12">
          <div class="titlepage">
             <h2>Sign Up</h2>
          </div>
       </div>
    </div>
    <div class="row">
       <div class="col-md-10 offset-md-1">
          <form method="POST" action="/accounts/signup/" class="main_form">
             {% csrf_token %}
             <div class="row">
                <div class="col-md-12 ">
                   <input class="sign_form" type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username">
                </div>
                <div class="col-md-12 ">
                   <input class="sign_form" type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" id="id_email">
                </div>
                <div class="col-md-12">
                   <input class="sign_form" type="password" name="password1" placeholder="Password" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
                   <span class="helptext" id="id_password1_helptext"></span></p>
                </div>
                <ul style="color: white; position: relative; left: 20px;">
                   <li>Your password can’t be too similar to your other personal information.</li>
                   <li>Your password must contain at least 8 characters.</li>
                   <li>Your password can’t be a commonly used password.</li>
                   <li>Your password can’t be entirely numeric.</li>
                </ul>
                <div class="col-md-12">
                   <input class="sign_form" type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" required="" id="id_password2">
                </div>
                <div class="col-md-12">
                   <button type="submit" class="send_btn">Sign Up</button>
                </div>
             </div>
          </form>
       </div>
    </div>
 </div>
</div>
{% endblock %}