{% extends "base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<div style="display: inline-flex; max-width: fit-content;">

<div style="display: flex; flex-direction: column; justify-content: space-between;">
        <div class="container-content">
                <img class="picture" src="/media/{{product.image}}" alt="product">
                <p class="price">{{product.price}} р. :: {{product.stock}} ед. :: {% if product.available %}Доступен{% else %}Недоступен{% endif %}</p>
                <p class="name">{{product.name}}</p>
                <p class="name">Описание: {{product.description}}</p>

                <p class="name">Категория товара: {{product.subcategory.name}}</p>
        </div>
</div>

</div>
{% endblock %}