{% extends "base.html" %}
{% load static %}
{% block title %}Products{% endblock %}
{% block content %}
<!--<div class="row">-->
<!--   <div class="col-md-12">-->
<!--      <div class="titlepage">-->
<!--         <h2>Our Products</h2>-->
<!--      </div>-->
<!--   </div>-->
<!--</div>-->
<!--<div class="row">-->
<!--   <div class="col-md-12">-->
<!--      <div class="our_products">-->
<!--         <div class="row">-->
<!--         {% if products %}-->
<!--            {% for product in products %}-->
<!--            <div class="col-md-4 margin_bottom1">-->
<!--               <div class="product_box">-->
<!--                  <figure><img src="/media/{{product.image}}" alt="#" width="200px" height="200px"/></figure>-->

<!--                  <form class="cart-add" action="{% url 'cart_add' product.id %}" method="post">-->
<!--                  {% csrf_token %}-->
<!--                     <h3 onclick="location.href='/{{product.id}}';">{{product.name}}</h3>-->
<!--                     <div>-->
<!--                        <input type="number" style="width: 40px;" name="quantity" aria-invalid="true" id="id_quantity">-->
<!--                     </div>-->
<!--                     <input type="submit" value="+">-->
<!--                  </form>-->
<!--               </div>-->
<!--            </div>-->
<!--            {% endfor %}-->
<!--            <div class="col-md-12">-->
<!--               <a class="read_more" href="#">See More</a>-->
<!--            </div>-->
<!--         {% else %}-->
<!--            <div class="col-md-4 margin_bottom1">-->
<!--            </div>-->
<!--            <div class="col-md-4 margin_bottom1">-->
<!--               <div class="product_box">-->
<!--                  <h3>Продуктов нет</h3>-->
<!--               </div>-->
<!--            </div>-->
<!--         {% endif %}-->
<!--         </div>-->
<!--      </div>-->
<!--   </div>-->
<!--</div>-->

  <!-- product section -->
  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Products
        </h2>
      </div>
      <div class="product_container">
      {% if products %}
          {% for product in products %}
            <div class="box">
              <div class="box-content">
                <div class="img-box">
                  <img src="/media/{{product.image}}" alt="product" width="200px" height="200px"/>
                </div>
                <div class="detail-box">
                  <div class="text">
                    <h6>
                      {{product.name}}
                    </h6>
                    <h5>
                      {{product.price}}<span> руб.</span>
                    </h5>
                  </div>
                  <div class="like">
                    <h6>
                      Like
                    </h6>
                    <div class="star_container">
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <form action="{% url 'cart_add' product.id %}" method="post">
                 {% csrf_token %}
                 <input class="btn-box" type="submit" value="Add to Cart">
                </form>
              </div>

            </div>
          {% endfor %}
      {% else %}

      {% endif %}
      </div>
    </div>
  </section>
  <!-- end product section -->

{% endblock %}
